<div class="container toper" id="principio" #principio>
    <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <div class="text-center">
                <img src="http://192.168.0.45:8080/img/logo-transparente.png" alt="Logo_L&S" style="max-width: 30%;" class="mx-auto" [routerLink]="['inicio']">      
            </div>
        </div> 
        <div class="col-12 col-md-6">
            <h3 class="display-6" style="margin-top: 50px; color:#83396C;">¡ENCONTRA LO QUE AMAS!</h3>
        </div>
    </div>
</div>

<nav class="nav navbar navbar-dark menu-navegacion">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
            <span class="navbar-toggler-icon"></span>
        </button>

        <section class="offcanvas menu-navegacion offcanvas-start" id="menuLateral" tabindex="-1">
            <div class="offcanvas-header" data-bs-theme="dark">
                <h5 class="offcanvas-title color_navbar_tiulo_icono">Navegacion</h5>
                <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button>
            </div>

            <!--Opciones-->
            <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
                <ul class="navbar-nav fs-5 justify-content-evenly">
                    <li class="nav-item p-3 py-md-1"><a (click)="scrollToPrincipio()" [routerLink]="['inicio']" class="nav-link color_navbar" data-bs-dismiss="offcanvas">Inicio</a></li>
                    <li class="nav-item p-3 py-md-1"><a (click)="scrollToPrincipio()" [routerLink]="['productos']" class="nav-link color_navbar" data-bs-dismiss="offcanvas">Productos</a></li>
                    <li class="nav-item p-3 py-md-1"><a (click)="scrollToPrincipio()" [routerLink]="['carrito']" class="nav-link color_navbar" data-bs-dismiss="offcanvas">Carrito</a></li>
                    <li class="nav-item p-3 py-md-1"><a (click)="scrollToPrincipio()" href="" class="nav-link color_navbar" data-bs-dismiss="offcanvas">Contacto</a></li>
                </ul>
            </div>
            <!--Redes Sociales-->
            <div class="aling-self-center py-3" style="margin-left: 20%;">
                <a href=""><i class="bi bi-facebook px-2 fs-2 color_navbar_tiulo_icono" ></i></a>
                <a href=""><i class="bi bi-at px-2 color_navbar_tiulo_icono fs-2"></i></a>
                <a href=""><i class="bi bi-whatsapp px-2 color_navbar_tiulo_icono fs-2"></i></a>
                <a href=""><i class="bi bi-instagram px-2 color_navbar_tiulo_icono fs-2"></i></a>
            </div>
        </section>

        <div class="d-flex align-items-center justify-content-center flex-grow-1">
            <form class="d-flex align-items-center">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" style="width: 20rem; max-width: 100%; width: 40vw;">
                <button class="btn btn-outline-light" type="submit">  
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>

        <button class="btn btn-outline-light ms-auto" type="button" style="position: absolute; right: 0; margin: 10px;" (click)="scrollToPrincipio()" [routerLink]="['carrito']">
            <i class="bi bi-cart"></i>
        </button>
    </div>
</nav>

<router-outlet></router-outlet>

<div class="ir-arriba-div" [ngClass]="{'mostrar': mostrarBtn}">
    <button type="button" (click)="scrollToPrincipio()" class="ir-arriba-btn btn btn-secondary">
        <i class="bi bi-arrow-up"></i>
    </button>
</div>


<footer class="text-light pie-de-pagina">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <h4>Información de contacto</h4>
                <p>Dirección: 938 Santa Rosa, Cordoba, Cordoba</p>
                <p>Teléfono: 3544-304272</p>
                <p>Email: L&Smayorista@gmail.com</p>
            </div>
            <div class="col-md-4">
                <h4>Enlaces útiles</h4>
                <ul class="list-unstyled links">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Contacto</h4>
                <ul class="list-unstyled icon-pie-de-pagina">
                    <a href=""><i class="bi bi-facebook px-2 fs-2 " ></i></a>
                    <a href=""><i class="bi bi-at px-2 fs-2"></i></a>
                    <a href=""><i class="bi bi-whatsapp px-2 fs-2"></i></a>
                    <a href=""><i class="bi bi-instagram px-2 fs-2"></i></a>
                </ul>
            </div>
        </div>
        <hr>
        <p class="text-center">© 2023 <b>L&S Make Up</b>. Todos los derechos reservados.</p>
        <u><p class="text-center">Programador: Quiroga Pacheco Leonel</p></u>
    </div>
</footer>